{%- set argopts = salt["grains.filter_by"](
      {
        "Debian": "EXTRAOPTS",
        "default": "OPTIONS",
      }
    )
-%}
{%- set confdir = haproxy.lookup.config_dir -%}
{%- set pidfile = haproxy | traverse("config:global:pidfile", "/run/haproxy/haproxy.pid") -%}

# Extra arguments to HAProxy
{{ argopts }}="{% for opt in haproxy.env.options %}{{ opt.format(confdir=confdir, pidfile=pidfile) }}{%- if not loop.last %} {% endif %}{% endfor %}"

{%- for param, val in haproxy.env.items() %}
{%-   if param == "options" or val is none %}
{%-     continue %}
{%-   endif %}
{{ param }}="{{ (val | string).format(confdir=confdir, pidfile=pidfile) }}"
{%- endfor %}
